@import url('https://fonts.googleapis.com/css?family=Francois+One|Varela+Round');

ul {
  list-style: none;
  padding-inline-start: 0px;
}

a{
  text-decoration: none;
  color:black;
}

body{
font-family: 'Varela Round', sans-serif;
}

.App{
  height: 100%;
  background-color:#f9f9f9;
}
